# Gradle build output
build/
.gradle/

# Android Studio
.idea/
*.iml
local.properties

# APK dan AAB
*.apk
*.aab
*.ap_

# ProGuard
/app/proguard-project.txt

# Model besar — jangan push ke git (terlalu besar untuk GitHub)
app/src/main/assets/best.pt
